.tools__card--react{
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-columns: 1fr 3fr 1fr;
	grid-row-start: 3;
	grid-column-start: 2;
	/*border: 2vmin solid var(--amarillo_2);*/
	border-radius: 5vmin;
	background-color: var(--morado);
	place-content: center;
	margin: 1vmin 1vmin;
	box-shadow: -2vmin 1.5vmin 2vmin 0.1vmin var(--morado)
}

.tools__card--reactImagen{
	grid-column-start: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tools__card--reactImagen1{
	height: 20vmin;
}

.tools__card--reactTexto{
	display: flex;
	grid-column-start: 2;
	grid-row-start: 2;
	font-size: 1fr;
	color: var(--amarillo_2);
	justify-content: center;
	align-items: center;
}