.contacto__container--email{
	display: grid;
	grid-template-rows: .4fr .95fr .1fr;
	align-items: flex-start;
	justify-content: start;
	grid-column-start: 3;
	grid-row-start: 5;
	padding: 0 0 0 5vmin;
}

.input-label-email{
	grid-row-start: 1;
	color: var(--morado);
	transition: all 0.25s;
	position: relative;
	top: 5vmin;
	left: 2vmin;
	font-size: 2vmin;
	background: transparent;

}

@media screen and (min-width: 1024px){
	.input-label-email{
		top: 7vmin
	}
}

.input-email{
	
	height: 10vmin;
	width: 40vmin;
	border-radius: 2vmin;
	border: 1px solid var(--amarillo_1);
	padding: 0 0 0 2vmin;
	font-family: 'Raleway';
	font-size: 3vmin;
	font-weight: bold;
	color: var(--morado);
	background-color: var(--amarillo_2);

}

.input-email::placeholder{
  visibility: hidden;
  color: #00000000;
}

.input-email:focus {
  outline: none;
}

.input-email:not(:placeholder-shown) + .input-label-email,
.input-email:focus + .input-label-email {
  font-size: 3vmin;
  top: -1.5vmin;
  transition: all 0.25s;
  color: var(--amarillo_2);
}
